html {
    font-size: 30px;
}

header {
    & > section:first-child {
        section:first-child {
            button {
                width: 180px;
            }
        }
    }
    & > section:last-child {
        height: 400px;
        section {
            height: 200px;
            input {
                padding: 30px 20px 20px 20px;
                width: 900px;
            }
        }
    }
}

main {
    height: 1400px;
    padding-top: 250px;
    & section {
        article {
            height: 400px;
        }
    }
}

footer {
    height: 600px;
    & * {
        font-size: 30px;
    }
    & > article {
        width: max-content;
        height: 340px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        & > article {
            width: 50%;
            justify-content: space-around;
        }
    }
    & > section {
        bottom: 0;
        left: 10px;
        height: 200px;
        width: 98%;
        section:first-child {
            width: 380px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}