html {
    font-size: 20px;
}

header {
    & > section:first-child {
        padding: 30px;
        section:first-child {
            width: 50vw;
            button {
                width: 130px;
            }
        }
        section:last-child {
            width: 80px;
            button {
                &:first-child {
                    height: 30px;
                    width: 30px;
                }
                &:last-child {
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
    & > section:last-child {
        section {
            input {
                width: 500px;
            }
        }
    }
}

main {
    height: 1000px;
    & > section {
        width: 40%;
        height: 1000px;
        article {
            height: 300px;
        }
    }
}

footer {
    flex-direction: row;
    flex-wrap: nowrap;
    & > article {
        & > article {
            height: 230px;
            width: 50%;
        }
    }
    & > section {
        display: flex;
        align-items: end;
        section:first-child {
            width: 255px;
        }
    }
}