@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open sans", sans-serif;
}

header {
  height: 300px;
  position: relative;
}
header > section:first-child {
  display: flex;
  height: 40px;
  background-color: black;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
header > section:first-child section:first-child {
  width: 200px;
  display: flex;
  align-items: center;
}
header > section:first-child section:first-child button {
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header > section:first-child section:first-child button svg {
  fill: white;
}
header > section:first-child section:first-child button:hover {
  color: rgb(210, 210, 210);
}
header > section:first-child section:first-child button:hover svg {
  fill: rgb(210, 210, 210);
}
header > section:first-child section:first-child a {
  border-left: 2px solid white;
  padding-left: 5px;
  color: inherit;
  text-decoration: none;
}
header > section:first-child section:first-child a:hover {
  text-decoration: underline;
}
header > section:first-child section:last-child {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
header > section:first-child section:last-child button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
header > section:first-child section:last-child button:first-child {
  transition: width 0.1s, height 0.1s;
  width: 24px;
  height: 24px;
}
header > section:first-child section:last-child button:first-child aside {
  background-color: white;
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header > section:first-child section:last-child button:first-child aside input[type=text] {
  width: 75%;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
}
header > section:first-child section:last-child button:first-child aside div {
  width: 20px;
  cursor: pointer;
  height: 20px;
  color: whites;
  background-color: transparent;
  padding: 10px;
  border: none;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
header > section:first-child section:last-child button:first-child aside div:hover > span {
  height: 6px;
  width: 27px;
}
header > section:first-child section:last-child button:first-child aside div:hover > span:first-child {
  transform: rotate(45deg) translateY(4.5px);
}
header > section:first-child section:last-child button:first-child aside div:hover > span:last-child {
  transform: rotate(-45deg) translateY(-4.5px);
}
header > section:first-child section:last-child button:first-child aside div span {
  background-color: black;
  width: 20px;
  color: wheat;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  transition: height linear 0.1s, width linear 0.1s;
}
header > section:first-child section:last-child button:first-child aside div span:first-child {
  transform: rotate(45deg) translateY(4px);
}
header > section:first-child section:last-child button:first-child aside div span:last-child {
  transform: rotate(-45deg) translateY(-4px);
}
header > section:first-child section:last-child button:first-child:hover {
  width: 30px;
  height: 30px;
}
header > section:first-child section:last-child > article {
  width: 25px;
  height: 20px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header > section:first-child section:last-child > article input {
  appearance: none;
}
header > section:first-child section:last-child > article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
header > section:first-child section:last-child > article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
header > section:first-child section:last-child > article input, header > section:first-child section:last-child > article::before, header > section:first-child section:last-child > article::after {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: white;
}
header > section:first-child section:last-child > aside#aside-menu:last-child {
  background-color: rgb(44, 44, 44);
  border-top: 1px solid gray;
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header > section:first-child section:last-child > aside#aside-menu:last-child hr {
  width: 50%;
  margin: 15px 0px 10px 0px;
  background-color: gray;
  border: none;
  height: 1px;
}
header > section:first-child section:last-child > aside#aside-menu:last-child p {
  height: 25px;
}
header > section:first-child section:last-child > aside#aside-menu:last-child p:hover a {
  color: rgb(156, 156, 156);
}
header > section:first-child section:last-child > aside#aside-menu:last-child p a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color ease 0.3s;
}
header > section:last-child {
  background-color: rgba(119, 235, 255, 0.275);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
header > section:last-child section {
  display: flex;
  flex-direction: column;
  height: 240px;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
header > section:last-child section h1 {
  font-size: 2.3rem;
}
header > section:last-child section article {
  width: 90vw;
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
header > section:last-child section article:has(input:hover) > input {
  border-color: rgb(67, 67, 247);
}
header > section:last-child section article:has(input:hover) > svg {
  fill: rgb(67, 67, 247);
}
header > section:last-child section article:has(svg:hover) > svg {
  fill: rgb(67, 67, 247);
}
header > section:last-child section article input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  height: 20px;
  width: 90%;
  font-size: 0.8rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.052);
  position: relative;
  transition: border-color 0.5s;
}
header > section:last-child section article input::placeholder {
  font-size: 0.8rem;
}
header > section:last-child section article svg {
  position: absolute;
  right: 25px;
  fill: black;
  transition: fill 0.5s;
}

main {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
  padding-top: 70px;
}
main > section {
  width: 80%;
  height: 700px;
}
main > section article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 220px;
}
main > section article section:first-child {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main > section article section:first-child img {
  width: 3.5rem;
}
main > section article section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: flex-start;
  width: 400px;
  height: 100%;
}
main > section article section:last-child h2 {
  font-weight: 700;
}
main > section article section:last-child p:last-child a {
  text-decoration: none;
}
main > section article section:last-child p:last-child a::after {
  content: "→";
  padding-left: 10px;
}
main > section article section:last-child p:last-child a:hover, main > section article section:last-child p:last-child a:hover * {
  text-decoration: underline;
}

footer {
  padding: 20px 10px 10px 20px;
  background-color: black;
}
footer * {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer article article {
  display: flex;
  flex-flow: row wrap;
  width: 99%;
}
footer article article > section {
  width: 50%;
  height: 200px;
}
footer article article > section h2 {
  margin-bottom: 10px;
}
footer article article > section ul {
  list-style: none;
}
footer article article > section section h3 {
  margin-top: 20px;
}
footer > section {
  width: 90vw;
  text-align: left;
  height: 120px;
  margin-right: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
footer > section section:last-child pre, footer > section section:last-child pre p {
  white-space: pre-line;
}

/*# sourceMappingURL=/mobile.5cf14127.css.map */